@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts//Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-upload:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e903";
}

._icon-catalog:before {
  content: "\e907";
}

._icon-close:before {
  content: "\e908";
}

._icon-heart:before {
  content: "\e909";
}

._icon-search:before {
  content: "\e90a";
}

._icon-star:before {
  content: "\e90b";
}

._icon-user:before {
  content: "\e90c";
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #969696;
  background-color: #060606;
}

._block {
  overflow: hidden;
}

.wrapper {
  overflow-x: hidden;
  background-color: #ffffff;
}

main {
  width: 100%;
  height: 100%;
  margin-bottom: 120px;
}

[class*=__container] {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #060606;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.btn {
  width: 220px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #81bc3d;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background-color: #8ddd31;
  scale: 1.01;
  box-shadow: #81bc3d 0px 0px 20px 0px;
}

.header {
  position: fixed;
  top: -1px;
  z-index: 10;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
}
.header__logo {
  width: 200px;
  height: 80px;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__content {
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.content-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #060606;
}
.content-header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.top-header__location {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1;
  color: #e5e5e5;
}
.top-header__location::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/map.svg") center/contain no-repeat;
}
.top-header__work-time {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1;
  color: #e5e5e5;
}
.top-header__work-time::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/clock.svg") center/contain no-repeat;
}
.top-header__tel {
  position: relative;
  padding-left: 25px;
  font-weight: 700;
  line-height: 1;
  color: #e5e5e5;
}
.top-header__tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("../img/icons/phone.svg") center/contain no-repeat;
}
.top-header__tel span {
  font-weight: 400;
  color: #969696;
}
.top-header__social {
  display: block;
  background: url("../img/icons/vk.png") center/cover no-repeat;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.top-header__price {
  position: relative;
  width: 220px;
  height: 100%;
  padding: 10px 15px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #060606;
  text-align: right;
}
.top-header__price::before {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-size: 25px;
}

.bottom-header {
  padding: 0px 25px 0px 0px;
}
.bottom-header__catalog {
  position: relative;
  padding: 10px 20px;
  text-align: right;
  font-size: 16px;
}
.bottom-header__catalog::before {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-size: 18px;
}
.bottom-header__menu-list {
  display: flex;
  justify-content: space-between;
  width: 675px;
}
.bottom-header__menu-link {
  color: #ffffff;
  transition: color 0.2s ease;
}
.bottom-header__menu-link:hover {
  color: #81bc3d;
}
.bottom-header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.bottom-header__icons {
  background-color: inherit;
  color: #ffffff;
  font-size: 25px;
  transition: color 0.2s ease;
}
.bottom-header__icons:hover {
  color: #81bc3d;
}
.bottom-header__search {
  position: relative;
  z-index: 3;
}
.bottom-header .search-input {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 290px;
  z-index: 2;
  width: 250px;
  height: 40px;
  padding: 5px 45px 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transform-origin: right;
  transform: scaleX(0.18);
  opacity: 0;
  visibility: hidden;
}
.bottom-header .search-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.bottom-header .search-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.bottom-header .search-input::-webkit-search-decoration, .bottom-header .search-input::-webkit-search-cancel-button, .bottom-header .search-input::-webkit-search-results-button, .bottom-header .search-input::-webkit-search-results-decoration {
  display: none;
}
.bottom-header ._show-search {
  transform: scaleX(1);
  opacity: 1;
  visibility: visible;
}
.bottom-header__user {
  position: relative;
}
.bottom-header .user__modal {
  position: absolute;
  bottom: -320px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px -5px #060606;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  transform: translateY(-17%) scaleY(0);
  opacity: 0;
  visibility: hidden;
}
.bottom-header .user__modal::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  border: 20px solid transparent;
  border-bottom: 15px solid #ffffff;
  transform: translateX(-50%);
}
.bottom-header .user__logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.bottom-header .user__logo img {
  width: 100%;
  height: 100%;
}
.bottom-header .user__name {
  font-size: 18px;
  color: #060606;
}
.bottom-header .user__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  width: 100%;
}
.bottom-header .user__cards {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.bottom-header .user__cards img {
  width: 80%;
  height: 80%;
  transform: translate(15%, 15%);
}
.bottom-header .user__orders {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.bottom-header .user__orders img {
  width: 80%;
  height: 80%;
  transform: translate(15%, 15%);
}
.bottom-header .user__edit {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.bottom-header .user__edit img {
  width: 80%;
  height: 80%;
  transform: translate(15%, 15%);
}
.bottom-header__favorite {
  position: relative;
}
.bottom-header__favorite::after {
  content: "7";
  position: absolute;
  top: -2px;
  right: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #81bc3d;
  color: #ffffff;
  font-size: 10px;
}
.bottom-header .favorite__modal {
  position: absolute;
  bottom: -320px;
  right: 70px;
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px -5px #060606;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  transform: translateY(-17%) scaleY(0);
  opacity: 0;
  visibility: hidden;
}
.bottom-header .favorite__modal::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 26%;
  border: 20px solid transparent;
  border-bottom: 15px solid #ffffff;
  transform: translateX(-50%);
}
.bottom-header .favorite__modal_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.bottom-header .favorite__modal_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0 auto;
}
.bottom-header .favorite__modal_item:not(:last-child) {
  margin-bottom: 15px;
}
.bottom-header .favorite__modal_item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 50%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #969696;
  opacity: 0.5;
}
.bottom-header .favorite__modal_item-img {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.bottom-header .favorite__modal_item-img img {
  width: 100%;
  height: 100%;
}
.bottom-header .favorite__modal_item-name, .bottom-header .favorite__modal_item-price {
  font-size: 14px;
  line-height: 1;
  color: #060606;
}
.bottom-header .favorite__modal_item-name {
  flex: 1 1 auto;
  max-width: 240px;
  padding: 0px 10px;
  overflow: hidden;
  white-space: nowrap;
}
.bottom-header .favorite__modal_item-price {
  color: #81bc3d;
}
.bottom-header .favorite__modal_item-delete {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: inherit;
  background: url("../img/icons/delete.png") center/contain no-repeat;
  font-size: 20px;
  color: #060606;
}
.bottom-header .favorite__modal_item-delete::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.bottom-header__cart {
  position: relative;
  margin-right: 20px;
}
.bottom-header__cart::after {
  content: "2";
  position: absolute;
  top: -2px;
  right: -12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #81bc3d;
  color: #ffffff;
  font-size: 10px;
}
.bottom-header .cart__modal {
  position: absolute;
  bottom: -320px;
  right: 20px;
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px -5px #060606;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  transform: translateY(-17%) scaleY(0);
  opacity: 0;
  visibility: hidden;
}
.bottom-header .cart__modal::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 22%;
  border: 20px solid transparent;
  border-bottom: 15px solid #ffffff;
  transform: translateX(-50%);
}
.bottom-header .cart__modal_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.bottom-header .cart__modal_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 30px;
}
.bottom-header .cart__modal_item:not(:last-child) {
  margin-bottom: 15px;
}
.bottom-header .cart__modal_item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 50%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #969696;
  opacity: 0.5;
}
.bottom-header .cart__modal_item-img {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.bottom-header .cart__modal_item-img img {
  width: 100%;
  height: 100%;
}
.bottom-header .cart__modal_item-name, .bottom-header .cart__modal_item-price {
  font-size: 14px;
  line-height: 1;
  color: #060606;
}
.bottom-header .cart__modal_item-name {
  flex: 1 1 auto;
  max-width: 180px;
  padding: 0px 10px;
  overflow: hidden;
  white-space: nowrap;
}
.bottom-header .cart__modal_item-price {
  margin: 0px 5px 0px 0px;
  color: #81bc3d;
}
.bottom-header .cart__modal_item-delete {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: inherit;
  background: url("../img/icons/delete.png") center/contain no-repeat;
  font-size: 20px;
  color: #060606;
}
.bottom-header .cart__modal_item-delete::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.bottom-header ._show-modal {
  transform: translateY(0) scaleY(1);
  opacity: 1;
  visibility: visible;
}
.bottom-header__total {
  font-weight: 700;
  color: #81bc3d;
}

._active {
  color: #81bc3d;
}

.menu-icon {
  display: none;
  position: relative;
  width: 50px;
  height: 20px;
  padding: 10px;
  background-color: inherit;
  cursor: pointer;
}
.menu-icon span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #81bc3d;
  transition: all 0.2s ease-in;
}
.menu-icon span:nth-child(1) {
  top: 0;
}
.menu-icon span:nth-child(3) {
  top: 100%;
}

.on-scroll {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 1480.99px) {
  .header__logo {
    width: 160px;
    height: 70px;
    margin: 10px;
  }
  .header__content {
    padding: 0;
  }
  .top-header__tel span {
    display: none;
  }
  .bottom-header__catalog {
    width: 190px;
    padding: 10px 15px;
  }
  .bottom-header__catalog::before {
    left: 18px;
  }
  .bottom-header__menu-list {
    width: 610px;
  }
  .bottom-header__actions {
    width: 210px;
  }
  .bottom-header__icons {
    font-size: 20px;
  }
  .bottom-header .search-input {
    right: 205px;
    padding: 5px 35px 5px 5px;
  }
  .bottom-header .user__modal {
    right: 25px;
  }
  .bottom-header .user__modal::before {
    left: 45%;
  }
  .bottom-header .favorite__modal {
    right: 25px;
  }
  .bottom-header .favorite__modal::before {
    right: 31%;
  }
  .bottom-header .cart__modal {
    right: 25px;
  }
  .bottom-header .cart__modal::before {
    right: 19%;
  }
}
@media (max-width: 1199.99px) {
  .header {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    height: 140px;
  }
  .header__logo {
    flex: 0 1 10%;
  }
  .content-header {
    flex: 0 1 88%;
  }
  .top-header {
    padding: 0px 15px 0px 0px;
  }
  .top-header__price {
    height: 40px;
  }
  .bottom-header {
    height: 50px;
    padding: 0;
  }
  .bottom-header__menu-list {
    flex: 0 1 70%;
    margin: 0 auto;
  }
  .bottom-header__catalog {
    height: 40px;
    margin-right: auto;
    line-height: 1;
  }
  .bottom-header__actions {
    margin-right: 10px;
  }
  .bottom-header .search-input {
    bottom: 55px;
    right: 405px;
    padding-right: 50px;
  }
  .bottom-header .user__modal {
    bottom: -260px;
    right: 230px;
  }
  .bottom-header .favorite__modal {
    bottom: -260px;
    right: 228px;
  }
  .bottom-header .cart__modal {
    bottom: -260px;
    right: 229px;
  }
}
@media (max-width: 999.99px) {
  .header__logo {
    flex: 1 1 10%;
  }
  .content-header {
    flex: 0 1 80%;
  }
  .top-header__location {
    max-width: 150px;
    font-size: 12px;
  }
  .top-header__location::before {
    top: -15%;
  }
  .top-header__tel {
    font-size: 15px;
  }
  .top-header__price {
    width: 190px;
    padding: 10px;
  }
  .top-header__price::before {
    left: 10px;
  }
  .bottom-header__catalog {
    width: 180px;
    padding: 10px;
  }
  .bottom-header__catalog::before {
    left: 10px;
  }
  .bottom-header__menu-list {
    flex: 0 1 95%;
  }
  .bottom-header .search-input {
    right: 385px;
    width: 200px;
  }
  .bottom-header .user__modal {
    right: 200px;
  }
  .bottom-header .favorite__modal,
.bottom-header .cart__modal {
    right: 199px;
  }
}
@media (max-width: 766.99px) {
  .mobile-menu {
    position: absolute;
    top: -1500%;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 101vh;
    padding: 30px 30px 50px 30px;
    background-color: #060606;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in;
  }
  ._show {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  .close-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    background-color: inherit;
    color: #81bc3d;
  }
  .menu-icon {
    display: block;
  }
  .content-header {
    flex: 1 1 auto;
  }
  .header {
    height: 80px;
  }
  .header__logo {
    width: 140px;
    height: 55px;
    margin-bottom: 90px;
  }
  .top-header {
    padding: 0 30px;
  }
  .top-header__tel span {
    display: block;
  }
  .top-header__tel::before {
    top: 25%;
  }
  .top-header__work-time {
    display: none;
  }
  .top-header__price {
    display: block;
    width: 220px;
    padding: 10px 15px;
    margin-bottom: 35px;
  }
  .top-header__social {
    width: 58px;
    height: 58px;
    margin-bottom: 30px;
  }
  .top-header__location {
    display: block;
    max-width: 200px;
    font-size: 14px;
  }
  .top-header__location::before {
    top: 0;
  }
  .top-header__tel {
    max-width: none;
    font-size: 14px;
  }
  .top-header__tel span {
    display: none;
    margin-top: 10px;
  }
  .top-header__tel::before {
    top: 50%;
  }
  .bottom-header {
    height: 40px;
    padding: 0 30px;
  }
  .bottom-header__catalog {
    display: block;
    width: 220px;
    height: 50px;
    padding: 10px 15px;
    margin-bottom: 25px;
  }
  .bottom-header__catalog::before {
    left: 15px;
  }
  .bottom-header__menu-list {
    flex-direction: column;
    margin: 0px 0px 70px 0px;
  }
  .bottom-header__menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .bottom-header__actions {
    width: 55%;
  }
  .bottom-header .search-input {
    bottom: 1px;
    right: 0;
    left: 20px;
    width: 300px;
    transform-origin: left;
  }
  .bottom-header .user__modal {
    bottom: -315px;
    right: 0;
    left: 5px;
  }
  .bottom-header .user__modal::before {
    left: calc(-6% + 19.125vw);
  }
  .bottom-header .favorite__modal {
    bottom: -315px;
    right: 0;
    left: 5px;
  }
  .bottom-header .favorite__modal::before {
    right: auto;
    left: calc(-19% + 36.25vw);
  }
  .bottom-header .cart__modal {
    bottom: -315px;
    right: 0;
    left: 55px;
  }
  .bottom-header .cart__modal::before {
    right: auto;
    left: calc(-54% + 56vw);
  }
  .number-clone span {
    display: block;
  }
  .number-clone::before {
    top: 25%;
  }
  .location-clone {
    max-width: none;
    margin-bottom: 25px;
  }
}
@media (max-width: 499.99px) {
  .header {
    height: 70px;
  }
  .top-header {
    height: 30px;
    padding: 0 5px;
  }
  .top-header__location {
    max-width: 150px;
    font-size: 12px;
  }
  .top-header__location::before {
    top: 15%;
  }
  .top-header__tel {
    font-size: 13px;
  }
  .bottom-header {
    padding: 0 5px;
  }
  .bottom-header__actions {
    width: 80%;
  }
  .bottom-header .search-input {
    bottom: -45px;
    left: 0;
    width: 95%;
    margin: 0 auto;
  }
  .bottom-header .user__modal,
.bottom-header .favorite__modal,
.bottom-header .cart__modal {
    bottom: -315px;
    right: 0;
    left: 0;
    width: 95%;
    margin: 0 auto;
  }
  .bottom-header .user__modal::before {
    left: calc(4% + 14.0625vw);
  }
  .bottom-header .favorite__modal::before {
    left: auto;
    right: calc(32% + 19.375vw);
  }
  .bottom-header .cart__modal::before {
    left: auto;
    right: calc(68px + 15.2304609218vw);
  }
  .number-clone {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .location-clone {
    max-width: 100%;
    font-size: 14px;
  }
  .location-clone::before {
    top: 0;
  }
}
.intro {
  position: relative;
  height: 770px;
  padding: 160px 0 0 0;
  margin-bottom: 190px;
  background: url("../img/intro/intro-bg.jpg") center/cover no-repeat;
}
.intro__content {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 650px;
  height: 400px;
}
.intro__logo {
  width: 310px;
  height: 120px;
  overflow: hidden;
}
.intro__logo img {
  width: 100%;
  height: 100%;
}
.intro__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #81bc3d;
}
.intro__btn {
  display: block;
  width: 560px;
  height: 50px;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.intro__bg {
  position: absolute;
  overflow: hidden;
}
.intro__bg img {
  width: 100%;
  height: 100%;
}
.intro__bg-1 {
  top: 50px;
  left: 0;
  z-index: 7;
  width: 220px;
}
.intro__bg-2 {
  top: 40px;
  right: 0;
  z-index: 8;
  width: 700px;
}
.intro__bg-3 {
  top: 135px;
  left: 215px;
  z-index: 6;
  width: 360px;
}
.intro__bg-4 {
  bottom: -130px;
  left: 240px;
  z-index: 5;
  width: 570px;
}
.intro__bg-5 {
  bottom: -90px;
  right: 175px;
  z-index: 4;
  width: 370px;
}

@media (max-width: 1549.99px) {
  .intro__content {
    height: 300px;
  }
  .intro__bg-1 {
    top: 100px;
    left: -50px;
    width: 200px;
  }
  .intro__bg-2 {
    top: 0;
    right: -20px;
    width: 620px;
  }
  .intro__bg-3 {
    top: 175px;
    left: 115px;
    width: 230px;
  }
  .intro__bg-4 {
    bottom: -55px;
    left: 260px;
    width: 420px;
  }
  .intro__bg-5 {
    bottom: -70px;
    right: 235px;
    width: 300px;
  }
}
@media (max-width: 1199.99px) {
  [class*=__container] {
    max-width: 970px;
  }
  .intro__content {
    height: 350px;
  }
  .intro__bg-1 {
    top: 60;
    left: -70px;
  }
  .intro__bg-2 {
    top: 30px;
    right: -100px;
  }
  .intro__bg-3 {
    top: 170px;
    left: 80px;
  }
  .intro__bg-4 {
    bottom: -90px;
    left: 110px;
  }
  .intro__bg-5 {
    bottom: -80px;
    right: 10px;
  }
}
@media (max-width: 999.99px) {
  .intro {
    height: 1000px;
    padding-top: 370px;
    margin-bottom: 90px;
  }
  .intro__content {
    top: 33%;
    height: 300px;
  }
  .intro__bg-1 {
    top: 20px;
    left: -70px;
    width: 220px;
  }
  .intro__bg-2 {
    top: 30px;
    right: 0px;
    width: 570px;
  }
  .intro__bg-3 {
    top: 130px;
    left: 90px;
    width: 250px;
  }
  .intro__bg-4 {
    bottom: -60px;
    left: 20px;
    width: 400px;
  }
  .intro__bg-5 {
    bottom: -70px;
    right: 10px;
  }
}
@media (max-width: 766.99px) {
  [class*=__container] {
    max-width: none;
  }
  .intro {
    height: 800px;
    padding-top: 120px;
    margin-bottom: 120px;
    background: url("../img/intro/intro-bg-mobile.jpg") center/cover no-repeat;
  }
  .intro__content {
    top: 20%;
    width: 100%;
    height: 450px;
  }
  .intro__logo {
    width: 180px;
    height: 70px;
    overflow: visible;
  }
  .intro__title {
    width: 250px;
    margin-bottom: 200px;
  }
  .intro__btn {
    width: 300px;
    height: 60px;
    padding: 5px 15px;
    line-height: 1.5;
  }
  .intro__bg-1 {
    top: 100px;
    left: -90px;
    width: 170px;
  }
  .intro__bg-2 {
    top: 0;
    right: 0;
    width: 420px;
  }
  .intro__bg-3 {
    top: 350px;
    left: 90px;
    width: 160px;
  }
  .intro__bg-4 {
    bottom: -100px;
    left: 0px;
    width: 300px;
  }
  .intro__bg-5 {
    bottom: -100px;
    right: 0px;
    width: 200px;
  }
}
@media (max-width: 499.99px) {
  .intro {
    height: 730px;
    padding-top: 130px;
    margin-bottom: 70px;
  }
  .intro__content {
    height: 400px;
  }
  .intro__title {
    margin-bottom: 170px;
  }
  .intro__bg-1 {
    top: 40px;
    left: -60px;
    width: 120px;
  }
  .intro__bg-2 {
    top: 25px;
    right: 0px;
    width: 220px;
  }
  .intro__bg-3 {
    top: 330px;
    left: 60px;
    width: 140px;
  }
  .intro__bg-4 {
    bottom: -25px;
    left: 5px;
    width: 150px;
  }
  .intro__bg-5 {
    bottom: -25px;
    left: 210px;
    width: 110px;
  }
}
.catalog {
  margin-bottom: 60px;
}
.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 30px;
  width: 100%;
  height: 1380px;
}
.catalog__item {
  position: relative;
}
.catalog__item-2::after, .catalog__item-3::after, .catalog__item-4::after, .catalog__item-5::after, .catalog__item-6::after, .catalog__item-7::after, .catalog__item-8::after, .catalog__item-10::after, .catalog__item-11::after, .catalog__item-12::after, .catalog__item-13::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.8) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}
.catalog__item_title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 700;
  line-height: 0.8;
  color: #060606;
}
.catalog__item_descr {
  display: block;
  position: relative;
  width: 270px;
  font-size: 20px;
  font-weight: 700;
  color: #81bc3d;
}
.catalog__item_descr::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 55%;
  height: 2px;
  background-color: #81bc3d;
}
.catalog__item_img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.catalog__item_img img {
  width: 100%;
  height: 100%;
}
.catalog__item_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.catalog__item_text {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 5;
  font-weight: 700;
  color: #ffffff;
}
.catalog__item-1 {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}
.catalog__item-1__img {
  display: block;
  position: absolute;
  bottom: -80px;
  left: -225px;
  z-index: 5;
}
.catalog__item-1 .catalog__item_descr {
  margin-left: auto;
}
.catalog__item-2 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.catalog__item-3 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}
.catalog__item-4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}
.catalog__item-5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 7;
}
.catalog__item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}
.catalog__item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 11;
}
.catalog__item-8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}
.catalog__item-9 {
  position: relative;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 7;
  grid-row-end: 11;
}
.catalog__item-9__img {
  position: absolute;
  bottom: -100px;
  left: 85px;
  z-index: 5;
}
.catalog__item-9 .catalog__item_descr {
  margin-top: 21px;
}
.catalog__item-9 .catalog__item_descr::before {
  width: 70%;
}
.catalog__item-10 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 11;
}
.catalog__item-11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 13;
}
.catalog__item-12 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 11;
  grid-row-end: 13;
}
.catalog__item-13 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 11;
  grid-row-end: 13;
}

@media (max-width: 1719.99px) {
  .catalog__item-1__img {
    left: -85px;
    width: 500px;
  }
  .catalog__item-9__img {
    bottom: -90px;
    left: -5px;
    width: 380px;
  }
}
@media (max-width: 1549.99px) {
  .catalog__wrapper {
    gap: 10px;
  }
  .catalog__item-1__img {
    left: -55px;
    width: 460px;
  }
  .catalog__item-9__img {
    bottom: -50px;
    left: 25px;
    width: 350px;
  }
}
@media (max-width: 1199.99px) {
  .catalog__wrapper {
    height: 1180px;
  }
  .catalog__item-1__img {
    bottom: -60px;
    left: -25px;
    width: 360px;
  }
  .catalog__item-9__img {
    bottom: -50px;
    left: -5px;
    width: 260px;
  }
}
@media (max-width: 999.99px) {
  .catalog__wrapper {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(7, 250px);
    justify-content: center;
    height: 100%;
  }
  .catalog__item {
    width: 100%;
    height: 100%;
  }
  .catalog__item_img img {
    width: 100%;
    height: 100%;
  }
  .catalog__item_title {
    width: 250px;
    margin: 0 auto;
    font-size: 24px;
  }
  .catalog__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalog__item-1__img {
    bottom: -70px;
    left: -190px;
    width: 300px;
  }
  .catalog__item-1 .catalog__item_descr {
    top: 30px;
    width: 160px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .catalog__item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalog__item-2 .catalog__item_img img {
    width: 400px;
    transform: translateX(-40px);
  }
  .catalog__item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalog__item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalog__item-4 .catalog__item_img img {
    width: 300px;
  }
  .catalog__item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .catalog__item-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .catalog__item-6 .catalog__item_img img {
    width: 120%;
  }
  .catalog__item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .catalog__item-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .catalog__item-8 .catalog__item_img img {
    width: 120%;
  }
  .catalog__item-9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .catalog__item-9__img {
    bottom: -40px;
    left: 90px;
    width: 230px;
  }
  .catalog__item-9 .catalog__item_descr {
    width: 100px;
    font-size: 16px;
  }
  .catalog__item-9 .catalog__item_descr::before {
    width: 120%;
  }
  .catalog__item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .catalog__item-10 .catalog__item_img img {
    width: 350px;
    transform: translateX(-50px);
  }
  .catalog__item-11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .catalog__item-11 .catalog__item_img img {
    width: 380px;
    transform: translateX(-50px);
  }
  .catalog__item-12 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .catalog__item-12 .catalog__item_img img {
    width: 350px;
    transform: translateX(-50px);
  }
  .catalog__item-13 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    min-width: 100%;
  }
  .catalog__item-13 .catalog__item_img img {
    width: 100%;
    height: 140%;
    transform: translateY(-70px);
  }
}
@media (max-width: 766.99px) {
  .catalog__wrapper {
    grid-template-columns: repeat(1, 290px);
    grid-template-rows: repeat(13, 1fr);
    justify-items: center;
    column-gap: 0;
    row-gap: 10px;
  }
  .catalog__item {
    max-width: 370px;
    max-height: 170px;
  }
  .catalog__item_img img {
    width: 100%;
    height: 100%;
  }
  .catalog__item_descr {
    font-size: 14px;
  }
  .catalog__item_descr::before {
    width: 100%;
  }
  .catalog__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 170px;
  }
  .catalog__item-1__img {
    bottom: -20px;
    left: -90px;
    width: 190px;
  }
  .catalog__item-1 .catalog__item_descr {
    width: 200px;
  }
  .catalog__item-1 .catalog__item_descr::before {
    width: 90%;
  }
  .catalog__item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalog__item-2 .catalog__item_img img {
    width: none;
    max-width: 370px;
    transform: translateX(0);
  }
  .catalog__item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .catalog__item-3 .catalog__item_img img {
    width: 100%;
    height: 120%;
  }
  .catalog__item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .catalog__item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .catalog__item-5 .catalog__item_img img {
    transform: scale(1, 1.5) translateY(-10px);
  }
  .catalog__item-6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .catalog__item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .catalog__item-7 .catalog__item_img img {
    width: 110%;
    height: 110%;
  }
  .catalog__item-8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .catalog__item-9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 14;
  }
  .catalog__item-9__img {
    bottom: 20px;
    left: 50%;
    width: 150px;
  }
  .catalog__item-9 .catalog__item_descr {
    top: 0;
    left: 0;
    width: 110px;
    margin-bottom: 120px;
  }
  .catalog__item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  .catalog__item-11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
  }
  .catalog__item-12 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
  }
  .catalog__item-13 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 13;
  }
}
.benefits {
  padding: 50px 0;
  margin-bottom: 25px;
}
.benefits__container {
  position: relative;
}
.benefits__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 800px;
  margin-left: auto;
}
.benefits__img {
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 2;
  max-width: 400px;
}
.benefits__img img {
  width: 100%;
  height: 100%;
}
.benefits__item {
  max-width: 330px;
}

.item-benefits__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #81bc3d;
}
.item-benefits__descr {
  font-size: 14px;
}

@media (max-width: 1199.99px) {
  .benefits__wrapper {
    max-width: 700px;
  }
  .benefits__img {
    top: 7%;
    left: -18%;
    width: 350px;
  }
}
@media (max-width: 999.99px) {
  .benefits__container::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -35%;
    width: 100%;
    height: 100%;
    background: url("../img/ax&Meat.png") center/contain no-repeat;
    opacity: 0.3;
  }
  .benefits__wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 400px;
    margin: 0 0 0 40%;
    gap: 30px;
  }
  .benefits__img {
    display: none;
  }
}
@media (max-width: 766.99px) {
  .benefits__container::before {
    top: -40px;
    left: -450px;
    width: 720px;
    height: 950px;
  }
  .benefits__wrapper {
    margin: 0 auto;
  }
  .item-benefits__title {
    font-size: 17px;
  }
}
.offer {
  height: 330px;
  margin-bottom: 60px;
}
.offer__wrapper {
  position: relative;
  padding: 60px;
  border: 2px solid #060606;
}
.offer__img {
  position: absolute;
  bottom: -29px;
  right: -21px;
  overflow: hidden;
}
.offer__img img {
  width: 100%;
  height: 100%;
}
.offer__title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}
.offer__descr {
  max-width: 570px;
  margin-bottom: 50px;
  font-size: 18px;
  color: #060606;
}
.offer__descr span {
  font-weight: 700;
}
.offer__btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0 35px;
  text-align: left;
}
.offer__btn::before {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(-50%) rotate(-90deg);
  transition: all 0.2s ease-in-out;
}
.offer__btn:hover::before {
  right: 25px;
}

@media (max-width: 1199.99px) {
  .offer__wrapper {
    padding: 40px;
  }
  .offer__img {
    bottom: -20px;
    right: -14px;
    width: 350px;
  }
}
@media (max-width: 999.99px) {
  .offer {
    height: auto;
  }
  .offer__wrapper {
    padding: 25px;
  }
  .offer__title {
    font-size: 24px;
  }
  .offer__descr {
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 766.99px) {
  .offer__title {
    max-width: 300px;
    font-size: 20px;
    line-height: 1.5;
  }
  .offer__descr {
    max-width: 250px;
    font-size: 14px;
  }
  .offer__btn {
    width: 170px;
    height: 40px;
  }
}
@media (max-width: 589.99px) {
  .offer__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.7;
  }
  .offer__wrapper::after {
    content: "";
    position: absolute;
    bottom: -13px;
    right: -47px;
    width: 300px;
    height: 200px;
    background: url("../img/grossCoin.png") center/contain no-repeat;
    opacity: 0.6;
  }
  .offer__img {
    display: none;
  }
  .offer__title {
    font-size: 20px;
  }
  .offer__descr {
    max-width: 250px;
    font-size: 14px;
  }
  .offer__btn {
    width: 170px;
    height: 40px;
  }
}
.partners {
  padding: 55px 0;
  background: url("../img/form/formBg.jpg") center/cover no-repeat;
}
.partners__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners__form {
  width: 50%;
  background-color: #ffffff;
  border: 15px solid rgba(150, 150, 150, 0.75);
  box-shadow: 0px 4px 61px rgba(0, 0, 0, 0.25);
}
.partners__info {
  width: 40%;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
}
.form__title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #81bc3d;
  text-align: center;
}
.form__title span {
  color: #060606;
}

.niches {
  margin-bottom: 30px;
}
.niches__radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 35px;
}

.form-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #060606;
}

.radio {
  position: relative;
  flex: 0 1 28%;
  padding-left: 20px;
  font-size: 14px;
  color: #060606;
}
.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.radio__input:focus + .radio__custom-input {
  box-shadow: 0px 0px 0px 1px #060606;
}
.radio__input:checked + .radio__custom-input {
  box-shadow: 0px 0px 0px 1px #060606;
}
.radio__input:checked + .radio__custom-input::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #81bc3d;
}
.radio__input:disabled + .radio__custom-input {
  box-shadow: 0px 0px 0px 1px #969696;
}
.radio__input:disabled:checked + .radio__custom-input {
  box-shadow: 0px 0px 0px 1px #969696;
}
.radio__input:disabled:checked + .radio__custom-input::after {
  background-color: rgba(129, 188, 61, 0.5);
}
.radio__custom-input {
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 0px 2px #969696;
  border-radius: 50%;
}
.radio__receiving {
  flex: 0 1 31%;
}
.radio__purchase:nth-child(2) {
  flex: 1 1 34%;
}
.radio__purchase:not(:first-child) {
  padding-left: 0;
}
.radio__purchase:not(:first-child) span {
  left: -20px;
}

.receiving {
  margin-bottom: 30px;
}
.receiving__radios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 35px;
}

.purchase {
  margin-bottom: 95px;
}
.purchase__radios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 35px;
}

.data {
  position: absolute;
  bottom: -15px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 30px);
  height: 80px;
  padding: 15px 25px;
  background-color: #81bc3d;
}
.data__tel, .data__email {
  width: 190px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 15px;
}
.data__btn {
  width: 120px;
  height: 50px;
  background-color: #060606;
  transition: all 0s;
}
.data__btn:hover {
  background-color: #ffffff;
  color: #060606;
}

.info-partners__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.info-partners__descr {
  margin-bottom: 25px;
  font-size: 14px;
  color: #969696;
}
.info-partners__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}
.info-partners__item {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}
.info-partners__img {
  max-width: 55px;
  max-height: 55px;
  margin-bottom: 10px;
}
.info-partners__name {
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 1199.99px) {
  .form {
    padding: 10px;
  }
  .form__title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .niches {
    margin-bottom: 15px;
  }
  .receiving {
    margin-bottom: 15px;
  }
  .purchase {
    margin-bottom: 80px;
  }
  .data {
    padding: 15px;
  }
  .data__tel, .data__email {
    max-width: 150px;
    width: 100%;
  }
  .data__btn {
    width: 85px;
  }
  .info-partners {
    width: 45%;
  }
}
@media (max-width: 999.99px) {
  .partners {
    margin-bottom: 50px;
    background-position: -420px 0;
  }
  .partners__form {
    display: none;
  }
  .partners__info {
    width: 50%;
    margin: 0 auto;
  }
  .form-section {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 15px solid rgba(150, 150, 150, 0.4);
    box-shadow: 0px 4px 61px rgba(0, 0, 0, 0.25);
  }
  .form__title {
    max-width: 400px;
  }
  .data__tel, .data__email {
    max-width: 210px;
  }
  .data__btn {
    max-width: 120px;
    width: 100%;
  }
}
@media (max-width: 766.99px) {
  .partners__info {
    max-width: 500px;
    width: 100%;
  }
  .form-title {
    font-size: 16px;
  }
  .purchase {
    margin-bottom: 220px;
  }
  .data {
    flex-direction: column;
    height: auto;
  }
  .data__tel, .data__email, .data__btn {
    max-width: none;
    width: 100%;
  }
  .data__tel, .data__email {
    margin-bottom: 15px;
  }
}
@media (max-width: 489.99px) {
  .info-partners__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .info-partners__item {
    flex: 0 1 50%;
    align-items: center;
    text-align: center;
  }
  .form-section {
    margin: 0 10px;
    border-width: 5px;
  }
  .form__title {
    font-size: 16px;
  }
  .form-title {
    font-size: 14px;
  }
  .niches__radios,
.receiving__radios,
.purchase__radios {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .radio__niches {
    flex: 0 1 50%;
  }
  .radio__receiving {
    flex: 0 1 40%;
  }
  .radio__purchase {
    flex: 0 1 100%;
  }
  .radio__purchase:not(:first-child) {
    padding-left: 20px;
  }
  .radio__purchase:not(:first-child) span {
    left: 0;
  }
  .data {
    left: -5px;
    width: calc(100% + 10px);
  }
}
.footer__top {
  position: relative;
}
.footer__top::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  width: 90%;
  height: 1px;
  border-top: 1px solid #969696;
  transform: translateX(-50%);
}
.footer__bottom {
  position: relative;
  padding: 20px 0;
}
.footer__bottom_copy {
  font-size: 12px;
  color: #060606;
}
.footer__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 1px;
  border-top: 1px solid #969696;
  transform: translateX(-50%);
}

.top-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top-footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-footer__info {
  display: flex;
  justify-content: space-between;
}
.top-footer__connection {
  display: flex;
  flex-direction: column;
}

.social-footer__logo {
  width: 180px;
  height: 70px;
  margin-bottom: 10px;
}
.social-footer__logo img {
  width: 100%;
  height: 100%;
}
.social-footer__location {
  position: relative;
  padding: 0px 0px 0px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #060606;
}
.social-footer__location::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/footer/map.png") center/contain no-repeat;
}
.social-footer__tel {
  position: relative;
  padding: 0px 0px 0px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #060606;
}
.social-footer__tel::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/footer/phone.png") center/contain no-repeat;
}
.social-footer__tel span {
  display: block;
  font-weight: 700;
}
.social-footer__time {
  position: relative;
  padding: 0px 0px 0px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #060606;
}
.social-footer__time::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/footer/time.png") center/contain no-repeat;
}
.social-footer__vk {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}
.social-footer__vk img {
  width: 100%;
  height: 100%;
}
.social-footer__btn {
  position: relative;
  width: 270px;
  height: 40px;
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.social-footer__btn::before {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 22px;
  transform: translateY(-50%);
}

.info-footer__left {
  margin: 0px 90px 0px 0px;
}
.info-footer__title {
  margin-bottom: 10px;
  font-weight: 700;
  color: #060606;
}
.info-footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.info-footer__link {
  font-size: 14px;
  color: #060606;
}
.info-footer__offer {
  margin: 20px 0px 0px 0px;
}
.connection-footer__title {
  margin-bottom: 15px;
  font-weight: 700;
  color: #81bc3d;
}
.connection-footer__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.connection-footer__email {
  width: 240px;
  height: 50px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #969696;
  border-radius: 5px;
}
.connection-footer__btn {
  width: 100%;
  font-size: 16px;
  background-color: #060606;
}
.connection-footer__btn:hover {
  color: #060606;
}
.connection-footer__pay .connection-footer__title {
  color: #060606;
}

@media (max-width: 999.99px) {
  .social-footer {
    margin-bottom: 65px;
  }
  .connection-footer {
    width: 240px;
  }
  .info-footer {
    flex-direction: column;
    row-gap: 32px;
  }
}
@media (max-width: 539.99px) {
  .top-footer {
    flex-direction: column;
    align-items: center;
  }
  .top-footer__left {
    width: 100%;
  }
  .social-footer {
    margin-bottom: 20px;
  }
  .social-footer__logo {
    margin: 0px 0px 15px 35px;
  }
  .info-footer {
    flex-direction: row;
    margin-bottom: 20px;
  }
  .info-footer__left {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */