@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-upload:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e903";
}

._icon-catalog:before {
  content: "\e907";
}

._icon-close:before {
  content: "\e908";
}

._icon-heart:before {
  content: "\e909";
}

._icon-search:before {
  content: "\e90a";
}

._icon-star:before {
  content: "\e90b";
}

._icon-user:before {
  content: "\e90c";
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #969696;
  background-color: #060606;
}

._block {
  overflow: hidden;
}

.wrapper {
  overflow-x: hidden;
  background-color: #ffffff;
}

main {
  width: 100%;
  height: 100%;
}

[class*=__container] {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #060606;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.btn {
  width: 220px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #81bc3d;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background-color: #8ddd31;
  scale: 1.01;
  box-shadow: #81bc3d 0px 0px 20px 0px;
}

.header {
  position: fixed;
  top: -1px;
  z-index: 10;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
}
.header__logo {
  width: 200px;
  height: 80px;
  overflow: hidden;
  margin: 20px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__content {
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.content-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #060606;
}
.content-header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.top-header__location {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1;
  color: #e5e5e5;
}
.top-header__location::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/map.svg") center/contain no-repeat;
}
.top-header__work-time {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1;
  color: #e5e5e5;
}
.top-header__work-time::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icons/clock.svg") center/contain no-repeat;
}
.top-header__tel {
  position: relative;
  padding-left: 25px;
  font-weight: 700;
  line-height: 1;
  color: #e5e5e5;
}
.top-header__tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("../img/icons/phone.svg") center/contain no-repeat;
}
.top-header__tel span {
  font-weight: 400;
  color: #969696;
}
.top-header__social {
  display: block;
  background: url("../img/icons/vk.png") center/cover no-repeat;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.top-header__price {
  position: relative;
  width: 220px;
  height: 100%;
  padding: 10px 15px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #060606;
  text-align: right;
}
.top-header__price::before {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-size: 25px;
}

.bottom-header {
  padding: 0px 25px 0px 0px;
}
.bottom-header__catalog {
  position: relative;
  padding: 10px 20px;
  text-align: right;
  font-size: 16px;
}
.bottom-header__catalog::before {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-size: 18px;
}
.bottom-header__menu-list {
  display: flex;
  justify-content: space-between;
  width: 675px;
}
.bottom-header__menu-link {
  color: #ffffff;
  transition: color 0.2s ease;
}
.bottom-header__menu-link:hover {
  color: #81bc3d;
}
.bottom-header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.bottom-header__icons {
  background-color: inherit;
  color: #ffffff;
  font-size: 25px;
  transition: color 0.2s ease;
}
.bottom-header__icons:hover {
  color: #81bc3d;
}
.bottom-header__favorite {
  position: relative;
}
.bottom-header__favorite::after {
  content: "7";
  position: absolute;
  top: -2px;
  right: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #81bc3d;
  color: #ffffff;
  font-size: 10px;
}
.bottom-header__cart {
  position: relative;
  margin-right: 20px;
}
.bottom-header__cart::after {
  content: "2";
  position: absolute;
  top: -2px;
  right: -12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #81bc3d;
  color: #ffffff;
  font-size: 10px;
}
.bottom-header__total {
  font-weight: 700;
  color: #81bc3d;
}

.menu-icon {
  display: none;
  position: relative;
  width: 50px;
  height: 20px;
  padding: 10px;
  background-color: inherit;
  cursor: pointer;
}
.menu-icon span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #81bc3d;
  transition: all 0.2s ease-in;
}
.menu-icon span:nth-child(1) {
  top: 0;
}
.menu-icon span:nth-child(3) {
  top: 100%;
}

.on-scroll {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 1480.99px) {
  .header__logo {
    width: 160px;
    height: 70px;
    margin: 10px;
  }
  .header__content {
    padding: 0;
  }
  .top-header__tel span {
    display: none;
  }
  .bottom-header__catalog {
    width: 190px;
    padding: 10px 15px;
  }
  .bottom-header__catalog::before {
    left: 18px;
  }
  .bottom-header__menu-list {
    width: 610px;
  }
  .bottom-header__actions {
    width: 210px;
  }
  .bottom-header__icons {
    font-size: 20px;
  }
}
@media (max-width: 1199.99px) {
  .header {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    height: 140px;
  }
  .header__logo {
    flex: 0 1 10%;
  }
  .content-header {
    flex: 0 1 88%;
  }
  .top-header__price {
    height: 40px;
  }
  .bottom-header {
    height: 50px;
    padding: 0;
  }
  .bottom-header__menu-list {
    flex: 0 1 70%;
    margin: 0 auto;
  }
  .bottom-header__catalog {
    height: 40px;
    margin-right: auto;
    line-height: 1;
  }
  .bottom-header__actions {
    margin-right: 10px;
  }
}
@media (max-width: 999.99px) {
  .header__logo {
    flex: 1 1 10%;
  }
  .content-header {
    flex: 0 1 80%;
  }
  .top-header__location {
    max-width: 150px;
    font-size: 12px;
  }
  .top-header__location::before {
    top: -15%;
  }
  .top-header__tel {
    font-size: 15px;
  }
  .top-header__price {
    width: 190px;
    padding: 10px;
  }
  .top-header__price::before {
    left: 10px;
  }
  .bottom-header__catalog {
    width: 180px;
    padding: 10px;
  }
  .bottom-header__catalog::before {
    left: 10px;
  }
  .bottom-header__menu-list {
    flex: 0 1 95%;
  }
}
@media (max-width: 766.99px) {
  .mobile-menu {
    position: absolute;
    top: -1500%;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    padding: 30px 30px 50px 30px;
    background-color: #060606;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in;
  }
  ._show {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  .close-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    background-color: inherit;
    color: #81bc3d;
  }
  .menu-icon {
    display: block;
  }
  .content-header {
    flex: 1 1 auto;
  }
  .header {
    height: 80px;
  }
  .header__logo {
    width: 140px;
    height: 55px;
    margin-bottom: 90px;
  }
  .top-header {
    padding: 0 30px;
  }
  .top-header__tel span {
    display: block;
  }
  .top-header__tel::before {
    top: 25%;
  }
  .top-header__work-time {
    display: none;
  }
  .top-header__price {
    display: block;
    width: 220px;
    padding: 10px 15px;
    margin-bottom: 35px;
  }
  .top-header__social {
    width: 58px;
    height: 58px;
    margin-bottom: 30px;
  }
  .top-header__location {
    display: block;
    max-width: 200px;
    font-size: 14px;
  }
  .top-header__location::before {
    top: 0;
  }
  .top-header__tel {
    max-width: none;
    font-size: 14px;
  }
  .top-header__tel span {
    display: none;
    margin-top: 10px;
  }
  .top-header__tel::before {
    top: 50%;
  }
  .bottom-header {
    height: 40px;
    padding: 0 30px;
  }
  .bottom-header__catalog {
    display: block;
    width: 220px;
    height: 50px;
    padding: 10px 15px;
    margin-bottom: 25px;
  }
  .bottom-header__catalog::before {
    left: 15px;
  }
  .bottom-header__menu-list {
    flex-direction: column;
    margin: 0px 0px 70px 0px;
  }
  .bottom-header__menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .bottom-header__actions {
    width: 40%;
  }
  .number-clone span {
    display: block;
  }
  .number-clone::before {
    top: 25%;
  }
  .location-clone {
    max-width: none;
    margin-bottom: 25px;
  }
}
@media (max-width: 499.99px) {
  .header {
    height: 70px;
  }
  .top-header {
    height: 30px;
    padding: 0 5px;
  }
  .top-header__location {
    max-width: 150px;
    font-size: 12px;
  }
  .top-header__location::before {
    top: 15%;
  }
  .top-header__tel {
    font-size: 13px;
  }
  .bottom-header {
    padding: 0 5px;
  }
  .bottom-header__actions {
    width: 80%;
  }
  .number-clone {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .location-clone {
    max-width: 100%;
    font-size: 14px;
  }
  .location-clone::before {
    top: 0;
  }
}
.intro {
  position: relative;
  height: 770px;
  padding: 160px 0 0 0;
  margin-bottom: 190px;
  background: url("../img/intro/introBg.jpg") center/cover no-repeat;
}
.intro__content {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 650px;
  height: 400px;
}
.intro__logo {
  width: 310px;
  height: 120px;
  overflow: hidden;
}
.intro__logo img {
  width: 100%;
  height: 100%;
}
.intro__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #81bc3d;
}
.intro__btn {
  display: block;
  width: 560px;
  height: 50px;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.intro__bg {
  position: absolute;
  overflow: hidden;
}
.intro__bg img {
  width: 100%;
  height: 100%;
}
.intro__bg-1 {
  top: 50px;
  left: 0;
  z-index: 7;
  width: 220px;
}
.intro__bg-2 {
  top: 40px;
  right: 0;
  z-index: 8;
  width: 700px;
}
.intro__bg-3 {
  top: 135px;
  left: 215px;
  z-index: 6;
  width: 360px;
}
.intro__bg-4 {
  bottom: -130px;
  left: 240px;
  z-index: 5;
  width: 570px;
}
.intro__bg-5 {
  bottom: -90px;
  right: 175px;
  z-index: 4;
  width: 370px;
}

@media (max-width: 1549.99px) {
  .intro__content {
    height: 300px;
  }
  .intro__bg-1 {
    top: 100px;
    left: -50px;
    width: 200px;
  }
  .intro__bg-2 {
    top: 0;
    right: -20px;
    width: 620px;
  }
  .intro__bg-3 {
    top: 175px;
    left: 115px;
    width: 230px;
  }
  .intro__bg-4 {
    bottom: -55px;
    left: 260px;
    width: 420px;
  }
  .intro__bg-5 {
    bottom: -70px;
    right: 235px;
    width: 300px;
  }
}
@media (max-width: 1199.99px) {
  [class*=__container] {
    max-width: 970px;
  }
  .intro__content {
    height: 350px;
  }
  .intro__bg-1 {
    top: 60;
    left: -70px;
  }
  .intro__bg-2 {
    top: 30px;
    right: -100px;
  }
  .intro__bg-3 {
    top: 170px;
    left: 80px;
  }
  .intro__bg-4 {
    bottom: -90px;
    left: 110px;
  }
  .intro__bg-5 {
    bottom: -80px;
    right: 10px;
  }
}
@media (max-width: 999.99px) {
  .intro {
    height: 1000px;
    padding-top: 370px;
    margin-bottom: 70px;
  }
  .intro__content {
    top: 33%;
    height: 300px;
  }
  .intro__bg-1 {
    top: 20px;
    left: -70px;
    width: 220px;
  }
  .intro__bg-2 {
    top: 30px;
    right: 0px;
    width: 570px;
  }
  .intro__bg-3 {
    top: 130px;
    left: 90px;
    width: 250px;
  }
  .intro__bg-4 {
    bottom: -60px;
    left: 20px;
    width: 400px;
  }
  .intro__bg-5 {
    bottom: -70px;
    right: 10px;
  }
}
@media (max-width: 766.99px) {
  [class*=__container] {
    max-width: none;
  }
  .intro {
    height: 800px;
    padding-top: 120px;
    background: url("../img/intro/introBgMobile.jpg") center/cover no-repeat;
  }
  .intro__content {
    top: 20%;
    width: 100%;
    height: 450px;
  }
  .intro__logo {
    width: 180px;
    height: 70px;
    overflow: visible;
  }
  .intro__title {
    width: 250px;
    margin-bottom: 200px;
  }
  .intro__btn {
    width: 300px;
    height: 60px;
    padding: 5px 15px;
    line-height: 1.5;
  }
  .intro__bg-1 {
    top: 100px;
    left: -90px;
    width: 170px;
  }
  .intro__bg-2 {
    top: 0;
    right: 0;
    width: 420px;
  }
  .intro__bg-3 {
    top: 350px;
    left: 90px;
    width: 160px;
  }
  .intro__bg-4 {
    bottom: -100px;
    left: 0px;
    width: 300px;
  }
  .intro__bg-5 {
    bottom: -100px;
    right: 0px;
    width: 200px;
  }
}
@media (max-width: 499.99px) {
  .intro {
    height: 730px;
    padding-top: 130px;
  }
  .intro__content {
    height: 400px;
  }
  .intro__title {
    margin-bottom: 170px;
  }
  .intro__bg-1 {
    top: 40px;
    left: -60px;
    width: 120px;
  }
  .intro__bg-2 {
    top: 25px;
    right: 0px;
    width: 220px;
  }
  .intro__bg-3 {
    top: 330px;
    left: 60px;
    width: 140px;
  }
  .intro__bg-4 {
    bottom: -25px;
    left: 5px;
    width: 150px;
  }
  .intro__bg-5 {
    bottom: -25px;
    left: 210px;
    width: 110px;
  }
}
.catalog {
  margin-bottom: 60px;
}
.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 30px;
  width: 100%;
  height: 1380px;
}
.catalog__item {
  position: relative;
}
.catalog__item-2::after, .catalog__item-3::after, .catalog__item-4::after, .catalog__item-5::after, .catalog__item-6::after, .catalog__item-7::after, .catalog__item-8::after, .catalog__item-10::after, .catalog__item-11::after, .catalog__item-12::after, .catalog__item-13::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.8) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}
.catalog__item_title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 700;
  line-height: 0.8;
  color: #060606;
}
.catalog__item_descr {
  display: block;
  position: relative;
  width: 270px;
  font-size: 20px;
  font-weight: 700;
  color: #81bc3d;
}
.catalog__item_descr::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 55%;
  height: 2px;
  background-color: #81bc3d;
}
.catalog__item_img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.catalog__item_img img {
  width: 100%;
  height: 100%;
}
.catalog__item_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.catalog__item_text {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 5;
  font-weight: 700;
  color: #ffffff;
}
.catalog__item-1 {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}
.catalog__item-1__img {
  display: block;
  position: absolute;
  bottom: -80px;
  left: -225px;
  z-index: 5;
}
.catalog__item-1 .catalog__item_descr {
  margin-left: auto;
}
.catalog__item-2 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.catalog__item-3 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}
.catalog__item-4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}
.catalog__item-5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 7;
}
.catalog__item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}
.catalog__item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 11;
}
.catalog__item-8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}
.catalog__item-9 {
  position: relative;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 7;
  grid-row-end: 11;
}
.catalog__item-9__img {
  position: absolute;
  bottom: -100px;
  left: 85px;
  z-index: 5;
}
.catalog__item-9 .catalog__item_descr {
  margin-top: 21px;
}
.catalog__item-9 .catalog__item_descr::before {
  width: 70%;
}
.catalog__item-10 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 11;
}
.catalog__item-11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 13;
}
.catalog__item-12 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 11;
  grid-row-end: 13;
}
.catalog__item-13 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 11;
  grid-row-end: 13;
}

@media (max-width: 1719.99px) {
  .catalog__item-1__img {
    left: -85px;
    width: 500px;
  }
  .catalog__item-9__img {
    bottom: -90px;
    left: -5px;
    width: 380px;
  }
}
@media (max-width: 1549.99px) {
  .catalog__wrapper {
    gap: 10px;
  }
  .catalog__item-1__img {
    left: -55px;
    width: 460px;
  }
  .catalog__item-9__img {
    bottom: -50px;
    left: 25px;
    width: 350px;
  }
}
@media (max-width: 1199.99px) {
  .catalog__wrapper {
    height: 1180px;
  }
  .catalog__item-1__img {
    bottom: -60px;
    left: -25px;
    width: 360px;
  }
  .catalog__item-9__img {
    bottom: -50px;
    left: -5px;
    width: 260px;
  }
}
@media (max-width: 999.99px) {
  .catalog__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .catalog__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalog__item-1__img {
    bottom: -90px;
    left: -120px;
    width: 300px;
  }
  .catalog__item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalog__item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalog__item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalog__item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .catalog__item-6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .catalog__item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .catalog__item-8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .catalog__item-9 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .catalog__item-9__img {
    bottom: -40px;
    left: 190px;
  }
  .catalog__item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .catalog__item-11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .catalog__item-12 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .catalog__item-13 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
  }
}
@media (max-width: 766.99px) {
  .catalog__wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(13, 1fr);
    column-gap: 0;
    row-gap: 10px;
  }
  .catalog__item_title {
    width: 250px;
    margin: 0 auto;
    font-size: 24px;
  }
  .catalog__item_descr {
    font-size: 14px;
  }
  .catalog__item_descr::before {
    width: 100%;
  }
  .catalog__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalog__item-1__img {
    bottom: -25px;
    left: -90px;
    width: 190px;
  }
  .catalog__item-1 .catalog__item_descr {
    top: 30px;
    width: 160px;
    margin-bottom: 50px;
  }
  .catalog__item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalog__item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .catalog__item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .catalog__item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .catalog__item-5 .catalog__item_img img {
    transform: scale(1, 1.5) translateY(-10px);
  }
  .catalog__item-6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .catalog__item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .catalog__item-7 .catalog__item_img img {
    width: 110%;
    height: 110%;
  }
  .catalog__item-8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .catalog__item-9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 14;
  }
  .catalog__item-9__img {
    bottom: 20px;
    left: 155px;
    width: 140px;
  }
  .catalog__item-9 .catalog__item_descr {
    top: 35px;
    width: 100px;
    margin-bottom: 120px;
  }
  .catalog__item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  .catalog__item-11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
  }
  .catalog__item-12 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
  }
  .catalog__item-13 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
  }
}/*# sourceMappingURL=style.css.map */